<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="./css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="./js/mousetrap.js"></script>
  <script src="./js/underscore.js"></script>
  <script src="./js/game.js"></script>
  <script src="./js/application.js"></script>
  <script src="./js/game_model.js"></script>
  <script src="./js/game_view.js"></script>
  <script src="./js/game_controller.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <title>256!</title>
</head>
<body>

  <nav class='nav-link'><a href='./index.html'>You are playing *256!</a></nav>

  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell" id="cell-0"></div>
      <div class="grid-cell" id="cell-1"></div>
      <div class="grid-cell" id="cell-2"></div>
      <div class="grid-cell" id="cell-3"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-4"></div>
      <div class="grid-cell" id="cell-5"></div>
      <div class="grid-cell" id="cell-6"></div>
      <div class="grid-cell" id="cell-7"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-8"></div>
      <div class="grid-cell" id="cell-9"></div>
      <div class="grid-cell" id="cell-10"></div>
      <div class="grid-cell" id="cell-11"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-12"></div>
      <div class="grid-cell" id="cell-13"></div>
      <div class="grid-cell" id="cell-14"></div>
      <div class="grid-cell" id="cell-15"></div>
    </div>
  </div>

  <div class='game-over hidden'>
    <p>Game over!</p>
    <a href='./index.html' class='try-again'>Try again?</a>
  </div>

</body>
</html>
