<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="javascripts/game_model.js"></script>
  <script src="javascripts/game_view.js"></script>
  <script src="javascripts/game_controller.js"></script>
  <script src="javascripts/application.js"></script>

</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="game-over hidden">
    <p>Game over!</p>
    <a href="/" class="try-again">
      Try again?
    </a>
  </div>

  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell" id="cell-0"></div>
      <div class="grid-cell" id="cell-1"></div>
      <div class="grid-cell" id="cell-2"></div>
      <div class="grid-cell" id="cell-3"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-4"></div>
      <div class="grid-cell" id="cell-5"></div>
      <div class="grid-cell" id="cell-6"></div>
      <div class="grid-cell" id="cell-7"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-8"></div>
      <div class="grid-cell" id="cell-9"></div>
      <div class="grid-cell" id="cell-10"></div>
      <div class="grid-cell" id="cell-11"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-12"></div>
      <div class="grid-cell" id="cell-13"></div>
      <div class="grid-cell" id="cell-14"></div>
      <div class="grid-cell" id="cell-15"></div>
    </div>
  </div>

</body>
</html>
