<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../controllers/game_controller.js %>
  <% include ../models/game_model.js %>
  <% include ../controllers/header.ejs %>
  <% include ../controllers/header.ejs %>
</head>

<body>

  <nav class='nav-link'>
    <a href='https://github.com/pholls/game256'>Check out our code on GitHub!</a>
  </nav>

  <div class='game-over hidden'>
    <p>Game over!</p>
    <!-- <%= link_to 'Try again?', root_path, class: 'try-again' %> -->
  </div>

  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell" id="cell-0"></div>
      <div class="grid-cell" id="cell-1"></div>
      <div class="grid-cell" id="cell-2"></div>
      <div class="grid-cell" id="cell-3"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-4"></div>
      <div class="grid-cell" id="cell-5"></div>
      <div class="grid-cell" id="cell-6"></div>
      <div class="grid-cell" id="cell-7"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-8"></div>
      <div class="grid-cell" id="cell-9"></div>
      <div class="grid-cell" id="cell-10"></div>
      <div class="grid-cell" id="cell-11"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell" id="cell-12"></div>
      <div class="grid-cell" id="cell-13"></div>
      <div class="grid-cell" id="cell-14"></div>
      <div class="grid-cell" id="cell-15"></div>
    </div>
  </div>

</body>
</html>
